@import "font"
body
  font-size: 18px
  h1
    margin: 0
    color: white
    font-size: 3rem

  a
    text-decoration: none
    color: #4e4846

    &:hover
      color: white
      border-bottom: 4px solid #00b5d2
      padding-bottom: 18px
      transition: 0.1s

  .text
    line-height: 30px
    margin-top: 39px

header
  position: absolute
  width: 100%
  max-height: 110px
  height: 100%
  display: flex
  justify-content: center
  align-items: center

  .container
    width: 100%
    display: flex
    justify-content: space-between
    position: relative

    .logo
      cursor: pointer

    nav
      a:not(:last-child)
        margin-right: 40px

main
  .hero
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100vh
    background: url("/app/images/jared-sluyter-342881.png") center top
    background-size: cover
    max-height: 660px

    .container
      width: 100%
      display: flex
      justify-content: flex-start

      .content
        width: 450px
        height: 280px
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: space-between


        p
          line-height: 30px
          font-family: Lato sans-serif
          color: white

  .partners
    display: flex
    justify-content: center
    min-height: 93px
    border-bottom: 1px solid #cccccc

    .container
      width: 100%
      display: flex
      justify-content: space-between
      align-items: center
      flex-wrap: wrap

  .age
    height: 100vh
    max-height: 500px
    background-color: #00b5d2
    display: flex
    justify-content: center

    .container
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      padding-top: 100px

      img
        width: 100%

      p
        color: white

  .mbis
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    max-width: 756px
    margin: 0 auto
    height: 361px

    h3
      font-size: 1.5rem
      color: #777777

    p
      line-height: 30px
      text-align: center

  .in-home-support
    padding-bottom: 111px

    .background
      width: 100%
      height: 710px
      background: url("/app/images/backg.png") center center no-repeat
      background-size: cover

    .slider
      width: 100%
      height: 100%
      display: flex
      align-items: flex-end
      justify-content: center

      .item
        transform: translateY(50px)

  .join-our-team
    display: flex
    justify-content: center
    height: 440px
    background-color: #367ab7
    margin-bottom: 60px

    .container
      width: 100%
      display: flex
      justify-content: space-between
      margin: 0


    .left
      width: 50%
      background: url("/app/images/Picture.png") no-repeat center top
      background-size: cover

    .right
      width: 50%
      color: white
      display: flex
      align-items: center
      padding-left: 30px

      .description
        max-width: 480px
        height: 400px

        .btn
          box-shadow: inset 0 70px 0 -10px #00b5d2
          background-color: #008ea5

          &:hover
            background-color: #ba8e5b
            transition: 0.1s

footer
  height: 402px
  width: 100%
  border-top: 3px solid #cccccc
  display: flex
  justify-content: space-between
  padding: 48px 0
  align-items: center
  flex-direction: column

  a:not(:last-child)
    margin-right: 60px

  .field
    display: flex

    .cube
      width: 13px
      height: 13px
      background-color: #cccccc

      &:not(:last-child)
        margin-right: 40px
  p
    text-align: center
    margin: 0 0 22px 0
  .email
    color: #e1aa6e
  .sub-footer
    width: 100%
    max-width: 948px
    border-top: 1px solid #eeeeee
    .copyright
      margin: 34px 0 0 0
      text-align: center
      color: #cccccc

.container
  max-width: 1140px
  margin: 0 30px

.btn
  box-shadow: inset 0 70px 0 -10px #e1aa6e
  background-color: #ba8e5b
  display: inline-block
  cursor: pointer
  color: #ffffff
  text-decoration: none
  border: none
  height: 70px
  width: 285px
  outline: none

  &:hover
    background-color: #00b5d2
    transition: 0.1s

  &:active
    position: relative
    top: 2px

.underline
  border-bottom: 4px solid #00b5d2
  padding-bottom: 18px

@import "media"